[submodule "Assets/Scripts"]
	path = Assets/Scripts
	url = https://github.com/uta-org/uzSurfaceMapperDemo.git
	branch = master
[submodule "Assets/Resources/RoadArchitect"]
	path = Assets/Resources/RoadArchitect
	url = https://github.com/FritzsHero/RoadArchitect.git
	branch = RewrittenAPI
[submodule "Assets/Libraries/TerrainSystem"]
	path = Assets/Libraries/TerrainSystem
	url = https://github.com/uta-org/TerrainSystem.git
[submodule "Assets/Plugins/uzSurfaceMapperDemo"]
	path = Assets/DemoPlugins/uzSurfaceMapperDemo
	url = https://github.com/uta-org/uzSurfaceMapperDemo.git
	branch = unity_plugins
[submodule "Assets/APIScripts"]
	path = Assets/APIScripts
	url = https://github.com/uta-org/uzSurfaceMapperDemo.git
	branch = api
[submodule "Assets/Libraries/UniGif"]
	url = https://github.com/uta-org/UniGif.git
	branch = unity-1.1.1
